<ActionBar title="Browse cards" class="action-bar">
    <NavigationButton text="Home" android.systemIcon="ic_menu_home" (tap)="goBack()"></NavigationButton>
</ActionBar>

<GridLayout tkExampleTitle tkToggleNavButton>
    <RadListView *ngIf="model.cards" [items]="model.cards" selectionBehavior="Press" (itemSelected)="cardDetails($event)">
        <ng-template tkListItemTemplate let-item="item">
            <GridLayout columns="auto, *" class="row m-5 p-5">
                <Label [text]="item.name" col="0"></Label>
                <Label *ngIf="item.hasImg()" text="IMG" horizontalAlignment="right" col="1"></Label>
            </GridLayout>
        </ng-template>
        <ng-template tkListViewFooter>
            <Label [text]="'1/' + model.cards.length" class="footer"></Label>
        </ng-template>
    </RadListView>
        
    <StackLayout *ngIf="!model.cards" class="m-5">
        <Label text="Loading cards..." horizontalAlignment="center" textWrap="true"></Label>
        <ActivityIndicator #activityIndicator class="activity-indicator" busy="true"></ActivityIndicator>    
    </StackLayout>
        
</GridLayout>
