<ActionBar title="Browse cards" class="action-bar">
    <NavigationButton text="Home" android.systemIcon="ic_menu_home" (tap)="goBack()"></NavigationButton>
</ActionBar>

<StackLayout>
    
    <ListView [items]="model.cards" (itemTap)="cardDetails($event)" class="list-group" height="100%">
        <ng-template let-item="item">
            <GridLayout columns="auto , *"  class="list-group-item">
                <Label [text]="item.name" col="0"></Label>
                <Label *ngIf="item.hasImg()" text="IMG" horizontalAlignment="right" col="1"></Label>
            </GridLayout>
        </ng-template>
    </ListView>
</StackLayout>
<Label [text]="'1/' + model.cards.length" class="text-center"></Label>

