<ActionBar title="Browse cards" class="action-bar">
    <NavigationButton text="Home" android.systemIcon="ic_menu_home" (tap)="goBack()"></NavigationButton>
</ActionBar>

<GridLayout rows="*,9*">

    <GridLayout columns="*,*,*" row="0">
        <Button [text]="groupingText + groupingMode" (tap)="toggleGrouping()" col="0"></Button>
        <Button [text]="sortingText + sortingMode" (tap)="toggleSorting()" col="1"></Button>
        <Button [text]="filteringText + filteringMode" (tap)="toggleFiltering()" col="2"></Button>
    </GridLayout>

    <GridLayout tkExampleTitle tkToggleNavButton row="1">
            <RadListView #cardsList *ngIf="model.cards" [items]="model.cards" selectionBehavior="Press" (itemSelected)="cardDetails($event)" enableCollapsibleGroups="false">
                <ng-template tkListItemTemplate let-item="item">
                    <GridLayout columns="auto, *" class="row m-5 p-5">
                        <Label [text]="item.name" col="0"></Label>
                        <Label *ngIf="item.hasImg()" text="IMG" horizontalAlignment="right" col="1"></Label>
                    </GridLayout>
                </ng-template>
            </RadListView>
                
            <StackLayout *ngIf="!model.cards" class="m-5">
                <Label text="Loading cards..." horizontalAlignment="center" textWrap="true"></Label>
                <ActivityIndicator #activityIndicator class="activity-indicator" busy="true"></ActivityIndicator>    
            </StackLayout>
        </GridLayout>
</GridLayout>


