<ActionBar title="Currency converter" icon="" class="action-bar">
    <NavigationButton text="Home" android.systemIcon="ic_menu_home" (tap)="goBack()"></NavigationButton>
</ActionBar>

<StackLayout class="form center">
    <StackLayout class="input-field">
        <Label text="Amount:" class="label"></Label>
        <TextField hint="Amount to convert" keyboardType="number" [(ngModel)]="amount" returnKeyType="done" maxLength="9" (returnPress)="convert()" class="input"></TextField>
    </StackLayout>
        
    <StackLayout class="input-field">
        <Label text="Currency from:" class="label"></Label>
        <ListPicker [items]="currencies" [(ngModel)]="currencyFrom"></ListPicker>
    </StackLayout>
    
    <StackLayout class="input-field">
        <Label text="Currency to:" class="label"></Label>
        <ListPicker [items]="currencies" [(ngModel)]="currencyTo"></ListPicker>
    </StackLayout>

        <Button text="Convert" (tap)="convert()" class="btn" [isEnabled]="!gettingCurrencies"></Button>
    
    <StackLayout class="input-field">
        <ActivityIndicator #activityIndicator [busy]="converting" class="activity-indicator"></ActivityIndicator>
        <Label [text]="output" class="h3" textWrap="true"></Label>
    </StackLayout>
</StackLayout>
